<!DOCTYPE html>
<html>
    <head>
        <title>Cool Octopus Blog</title>
        <link rel="stylesheet" href="../../assets/styles.css">
    </head>
<body>
    <header>
        <h1><a href="/">Cool Octopus Blog</a></h1>
        <img src="../../assets/images/cooloctopus.png" width="500" style="margin: auto;">
    </header>

    {% for post in posts %}
        <article style="background-color: #c5c5ff;">
            <time>published: {{ post.published_date}}</time>
            <h2>{{ post.title}}</h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        <br>
    {% endfor %}
</body>
</html>


